@model SiteAdmin.Models.tblSupplier

@{
    ViewBag.Title = "Supplier Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.ContactName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdersEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdersEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vdn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vdn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailCCInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailCCInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowAnonymous)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowAnonymous)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyerRegistration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyerRegistration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyerRegistrationEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyerRegistrationEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BCCSuperAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BCCSuperAdmin)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.UPSTools)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPSTools)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminLocale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminLocale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOffSet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOffSet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workflow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workflow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoicing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoicing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtyPricingTable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtyPricingTable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DraftCart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DraftCart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attributes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attributes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventoryUpload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryUpload)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketingLists)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketingLists)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomPages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomPages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsNotifyOrderError)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsNotifyOrderError)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SupplierID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
